---
// import Backdrop from '../components/Backdrop.vue'

const { title } = Astro.props
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <main>
      <!--Backdrop client:idle /-->
  		<slot />
    </main>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
